{% extends "base.html" %}

{% block title %}
<title>刪除溫度資料</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<style>
    body { background-color: #f4f4f4; }
</style>
<script>
    function doubleCheck(){
        return confirm("確定要刪除這筆紀錄嗎？\n刪除後資料將無法復原！");
    }
</script>
{% endblock title %}

{% block content %}
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:600px;">
    
    <div class="w3-card-4 w3-white w3-round-large">
        <header class="w3-container w3-red w3-round-large" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
            <h2><i class="w3-margin-right">⚠️</i>刪除溫度資料</h2>
        </header>

        <form class="w3-container w3-padding-16" action="{% url 'delete' obj_data.myid %}" method="post">
            {% csrf_token %}
            
            <div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding">
                <p>您即將刪除以下資料，請確認：</p>
            </div>

            <table class="w3-table w3-bordered w3-margin-bottom">
                <tr>
                    <th style="width: 30%;">ID:</th>
                    <td>{{ obj_data.myid }}</td>
                </tr>
                <tr>
                    <th>Sensor ID:</th>
                    <td>{{ obj_data.sensor_id }}</td>
                </tr>
                <tr>
                    <th>溫度:</th>
                    <td>{{ obj_data.temperature }} °C</td>
                </tr>
                <tr>
                    <th>濕度:</th>
                    <td>{{ obj_data.humidity }} %</td>
                </tr>
                <tr>
                    <th>記錄時間:</th>
                    <td>{{ obj_data.timestamp }}</td>
                </tr>
            </table>

            <hr class="w3-border-grey">
            <div class="w3-bar">
                <button type="submit" name="submit_button" onclick="return doubleCheck();" class="w3-button w3-red w3-round w3-right w3-margin-left">確認刪除</button>
                <a href="{% url 'Temperature' %}" class="w3-button w3-light-grey w3-border w3-round w3-right">取消並返回</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}