<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Temperature History</title>

</head>

<body>
<div class="w3-container">
    <h1>Temperature History</h1>
    {% if status %}
    <p>Total data count: {{ data_count }}</p>
    <table class="w3-table-all w3-card-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sensor ID</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in resultList %}
            <tr>
                <td>{{ item.myid }}</td>
                <td>{{ item.sensor_id }}</td>
                <td>{{ item.temperature }}</td>
                <td>{{ item.humidity }}</td>
                <td>{{ item.timestamp }}</td>
                <td>
                <a href="/edit{{item.myid}}">編輯</a>
                <a href="/edit{{item.myid}}">刪除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ errormessage }}</p>
    {% endif %}
</div>
</body>

</html>